doctype html
html(lang='de')
  head
    meta(charset='utf-8')
    if (editSession || viewSession)
        link(rel='stylesheet', href='../frontend/js/bootstrap-3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='../frontend/js/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')
        script(src='../frontend/js/jquery.js')
        script(src='../frontend/js/bootstrap-3.3.7/dist/js/bootstrap.min.js')
        script(src='../frontend/dist/js/main.js')
        link(rel='stylesheet', type='text/css', href='../frontend/dist/styles/styles.css')
    else
        link(rel='stylesheet', href='frontend/js/bootstrap-3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='frontend/js/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')
        script(src='frontend/js/jquery.js')
        script(src='frontend/js/main.js')
        script(src='frontend/js/bootstrap-3.3.7/dist/js/bootstrap.min.js')
        script(src='frontend/dist/js/main.js')
        link(rel='stylesheet', type='text/css', href='frontend/dist/styles/styles.css')
    title
      | Webentwicklung
  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header.navbar-left.pull-left
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            if ( editSession || newSession || viewSession)
                li
                    a(href='/') Sitzungsliste
            else
                li
                    a(href='/newSession') Sitzung erstellen
                
    // liste alle Sitzungen
    .container
      .new
      p #{page}
        if sessions
            h2.text-center Sitzungsliste
            br
            table.table.list
                thead
                    tr
                    th(scope='col') #
                    th(scope='col') Datum
                    th(scope='col') Latitude
                    th(scope='col') Longtiude
                    th(scope='col') Beobachtungsobjekte
                    th(scope='col') Google Maps
                    th(scope='col') 
                tbody
                    each session, i in sessions
                        tr(class="session-obj" data-id="session-"+session._id)
                            th(scope='row') #{i+1}
                            td #{session.date}
                            td #{session.latitude}
                            td #{session.longitude}
                            td #{session.objects}
                            td
                                a(href="https://www.google.com/maps/?q="+session.latitude+","+session.longitude target="_blank") In Google Maps anzeigen
                                    
                            td                           
                                a(href="editSession/"+session._id)
                                    button.btn.btn-primary(type='button') Bearbeiten
                                span &nbsp;
                                form.delete-form
                                    button.btn.btn-danger.delete-session(type="submit", data-id=session._id) L&ouml;schen
        if newSession
            h2.text-center Neue Sitzung erstellen
            br
            .new.col-md-offset-3.col-md-6.col-xs-12              
                form(method="post" action="/newSession")
                    .form-group
                        label Latitude 
                        br
                        input.form-control(name="latitude" type='number', step='0.01', placeholder='Enter latitude....', required)
                    .form-group
                        label Longitude
                        br
                        input.form-control(name="longitude" type='Number', step='0.01', placeholder='Enter longitude', required)
                    .form-group
                        label Beobachtungsobjekte
                        br
                        input.form-control(name="objects" type='text', placeholder='Enter objects', required)
                    .form-group
                        label Date
                        input.form-control(name="date" type='date', placeholder='Enter latitude....' required)
                    button.btn.btn-primary(type='submit') Sitzung speichern
        if editSession
            h2.text-center Sitzung bearbeiten
            br
            .new.col-md-offset-3.col-md-6.col-xs-12              
                form(method="post" action="/editSession/"+session._id)
                    .form-group
                        label Latitude 
                        br
                        input.form-control(name="latitude" type='number', step='0.01', value=session.latitude, min="0" required)
                    .form-group
                        label Longitude
                        br
                        input.form-control(name="longitude" type='Number', step='0.01', value=session.longitude, min="0" required)
                    .form-group
                        label Beobachtungsobjekte
                        br
                        input.form-control(name="objects" type='text', placeholder='Enter objects', value=session.objects, required)
                    .form-group
                        label Datum
                        input.form-control(name="date" type="date", value=date required)
                    button.btn.btn-primary(type='submit') Sitzung speichern
        if viewSession
            h2.text-center Sitzung
            br
            .new.col-md-offset-3.col-md-6.col-xs-12  
                table.table.col-md-4
                    tbody
                        tr
                        th(scope='row') Latitude
                        td #{session.latitude}
                        tr
                        th(scope='row') Longitude
                        td #{session.longitude}
                        tr
                        th(scope='row') Datum
                        td #{date}
                        tr
                        th(scope='row') Beobachtungsobjekte
                        td #{session.objects}
  script.
    console.log(sessions);
