doctype html
html(lang='de')
  head
    meta(charset='utf-8')
    if (editSession || viewSession)
        link(rel='stylesheet', href='../frontend/js/bootstrap-3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='../frontend/js/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')
        script(src='../frontend/js/jquery.js')
        script(src='../frontend/js/bootstrap-3.3.7/dist/js/bootstrap.min.js')
        script(src='../frontend/dist/js/main.js')
        link(rel='stylesheet', type='text/css', href='../frontend/dist/styles/styles.css')
    else
        link(rel='stylesheet', href='frontend/js/bootstrap-3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='frontend/js/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')
        script(src='frontend/js/jquery.js')
        script(src='frontend/js/main.js')
        script(src='frontend/js/bootstrap-3.3.7/dist/js/bootstrap.min.js')
        script(src='frontend/dist/js/main.js')
        link(rel='stylesheet', type='text/css', href='frontend/dist/styles/styles.css')
    title
      | Webentwicklung
  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header.navbar-left.pull-left
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            if ( editSession || newSession || viewSession)
                li
                    a(href='/') Sitzungsliste
            else
                li
                    a(href='/new') Sitzung erstellen
                
    // liste alle Sitzungen
    .container
      .new
      p #{page}
        if sessions
            if (sessions.length > 0)
                h2.text-center Sitzungsliste
                br
                table.table.list
                    thead(id="head")
                        tr
                        th(scope='col') #
                        th(scope='col') Datum
                        th(scope='col') Breitengrad
                        th(scope='col') L&auml;ngengrad
                        th(scope='col') Beobachtungsobjekte
                        th(scope='col') Google Maps
                        th(scope='col') 
                        th(scope='col') 
                    tbody(id='table')
                    //-    table content                
                div(id="paging")
                    button(type = "button", id="back" class="btn btn-light") Zur&uuml;ck
                    span &nbsp;
                    text(id="page")
                    span &nbsp;
                    button(type = "button", id="next" class="btn btn-light") Weiter
            else 
                h2.text-center Keine Sitzungen gefunden
        if newSession
            h2.text-center Neue Sitzung erstellen
            br
            .new.col-md-offset-3.col-md-6.col-xs-12              
                form(method="post" action="/new")
                    .form-group
                        label Breitengrad 
                        br
                        input.form-control(name="latitude" type='text', placeholder='Enter latitude....', required)
                    .form-group
                        label L&auml;ngengrad
                        br
                        input.form-control(name="longitude" type='text', placeholder='Enter longitude', required)
                    .form-group
                        label Beobachtungsobjekte
                        br
                        input.form-control(name="objects" type='text', placeholder='Enter objects', required)
                    .form-group
                        label Date
                        input.form-control(name="date" type='date', placeholder='Enter latitude....' required)
                    button.btn.btn-primary(type='submit') Sitzung speichern
        if editSession
            h2.text-center Sitzung bearbeiten
            br
            .new.col-md-offset-3.col-md-6.col-xs-12              
                form(method="post" action="/edit/"+session._id )
                    .form-group
                        label Breitengrad
                        br
                        input.form-control(name="latitude" type='text', value=session.latitude, required)
                    .form-group
                        label L&auml;ngengrad
                        br
                        input.form-control(name="longitude" type='text', value=session.longitude, required)
                    .form-group
                        label Beobachtungsobjekte
                        br
                        input.form-control(name="objects" type='text', placeholder='Enter objects', value=session.objects, required)
                    .form-group
                        label Datum
                        input.form-control(name="date" type="date", value=date required)
                    button.btn.btn-primary(type='submit') Sitzung speichern
        if viewSession
            script.
                function openWin()
                {
                    let b = document.getElementById("printButton");
                    b.style.visibility = "hidden";
                    window.print();
                    b.style.visibility = "visible";
                }
            div(id="printArea")
                h2.text-center Sitzung
                br
                .new.col-md-offset-3.col-md-6.col-xs-12  
                    table.table.col-md-4
                        tbody
                            tr
                            th(scope='row') Breitengrad
                            td #{session.latitude}
                            tr
                            th(scope='row') L&auml;ngengrad
                            td #{session.longitude}
                            tr
                            th(scope='row') Datum
                            td #{date}
                            tr
                            th(scope='row') Beobachtungsobjekte
                            td #{session.objects}
                br
            .new.col-md-offset-3.col-md-6.col-xs-12 
                button(class='button' id="printButton" name="print" onclick="openWin()") Drucken
  script.
